<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Review</title>
</head>

<body>

	<header>
		<h1>Review</h1>
	</header>


	<div>
		<h2 th:text="${review.beerName}"></h2>
		<h3>Style: </h3>
		<a th:href="@{/style(id=${review.style.id})}" th:text="${review.style.style}"></a>
		<h3>Brewery(ies):</h3>
		<ul>
			<li th:each="brewery: ${review.breweries}">
				<a th:href="@{/brewery(id=${brewery.id})}" th:text="${brewery.breweryName}"></a>
			</li>
		</ul>
		<h3 th:text="'Review' + ${review.beerReview}"></h3>
		<a href="http://localhost:8080/">Back to home</a>
	</div> 

</body>
</html>